/* --- FONTS --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,700,400,400italic,700italic");
$main-font: 'Open Sans', 'Helvetica Neue', sans-serif;

/* --- COLORS --- */

$turquoise:       #1ABC9C;
$turquoise-dark:  #16A085;
$green:           #2ECC71;
$green-dark:      #27AE60;
$blue:            #3498DB;
$blue-dark:       #2980B9;
$violet:          #9B59B6;
$violet-dark:     #8E44AD;
$graphite:        #616272;
$asphalt:         #34495E;
$asphalt-dark:    #2C3E50;
$yellow:          #F1C40F;
$orange:          #F39C12;
$carrot:          #E67E22;
$dark-carrot:     #D35400;
$red:             #E74C3C;
$dark-red:        #C0392B;
$silver-light:    #ECF0F1;
$silver:          #BDC3C7;
$gray:            #95A5A6;
$dark-gray:       #7F8C8D;
$white:           #fff;

$semi-transparent-black: rgba(0,0,0,0.3);

/* --- MIXINS --- */

@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

/* --- STYLES --- */

body {
  font-family: $main-font;
}

a {
  @include transition(0.25s);
  color: $blue-dark;
}

footer {
  background-color: $graphite;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  a {
    color: #fff;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $main-font;
  font-weight: 700;
  line-height: 1.3;
}

/* This prevents anchored links from end up hidden behind the #submenu bar */

.anchor-container {
  position: relative;
  .anchor {
    position: absolute;
    top: -80px;
  }
}

/* All about articles and paper formatting */

.article {
  padding: 10px 0;
  line-height: 1.6;
  h1 {
    margin-top: 0;
    font-size: 32px;
  }
  .summary {
    font-weight: bold;
    font-size: 130%;
    border-bottom: 1px solid $gray;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .article-body {
    font-size: 120%;
  }
  .author {
    font-style: italic;
    strong {
      font-size: 110%;
      display: block;
    }
  }
  .about {
    padding: 0 20px 20px;
    background-color: $silver-light;
    border-top: 1px solid $gray;
    margin-top: 20px;
  }
  .abstract {
    background-color: $silver-light;
    padding: 1px 20px 10px;
    margin: 20px 0;
  }
  .meta {
    color: $dark-gray;
    margin: 10px 0;
    span {
      margin-right: 7px;
    }
  }
  .ref {
    font-size: 85%;
  }
}

.article-related {
  margin: 30px 0;
  h3 {
    margin: 0 0 20px;
  }
}

.collection {
  em {
    color: $dark-gray;
    &:before {
      content: "— "
    }
  }
}

.epigraph {
  text-transform: uppercase;
  color: $dark-gray;
  font-weight: bold;
}

/* -- Font Awesome icon colors -- */
.fa {
  &.orange {
    color: $carrot;
  }
  &.blue {
    color: $blue-dark;
  }
  &.green {
    color: $green-dark;
  }
  &.red {
    color: $red;
  }
  &.blue-light {
    color: lighten($blue, 10%);
  }
}

.figure {
  padding: 20px 0;
  text-align: center;
  font-size: 85%;
  font-style: italic;
  .caption {
    margin-top: 10px;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 1px 4px $semi-transparent-black;
    /* Use this class for no-shadow figures */
    &.no-shadow {
      box-shadow: none;
    }
  }
}

.jumbotron{
  color: $white;
  margin-top: 60px;
  p {
    font-weight: bold;
  }
  .btn-primary {
    border: none;
  }
}

.nav {
  &>li.home {
    height: 40px;
    background-size: cover;
    position: relative;
    left: -15px;
    top: -3px;
  }
}

.navbar {
  font-size: 120%;
  margin-bottom: 0;
  border: none;
  background-color: $graphite;
  color: lighten($graphite, 25%);
  font-size: 32px;
  border-radius: 0 !important;
  min-height: 30px;
  .container {
    padding-left: 0;
  }
}

.navbar-nav {
  li a {
    background-size: cover;
    background-repeat: no-repeat;
    color: lighten($graphite, 30%);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 12px;
    &:hover {
      background-color: darken($graphite, 15%) !important ;
    }
  }
  li.sic {
    a {
      width: 107px;
      text-indent: -3000px;
      background-image: image-url('sic.png');
      background-position: 0 -70px;
    }
  }
  img {
    max-height: 36px;
  }
}

.nav-pills {
  padding: 10px 0;
  li {
    &.menulabel {
      padding: 10px 10px 10px 0;
      font-weight: bold;
    }
    a {
      padding: 5px 10px !important;
      margin-top: 5px;
    }
  }
}

.oursites {
  background-color: $silver-light;
}

.page-header {
  color: $white;
  margin-top: 60px;
}

.post {
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid $silver;
}

.result {
  padding: 10px 0;
  border-bottom: 1px solid $silver;
  &:last-child {
    border-bottom: none;
  }
  h4 {
    font-size: 110%;
    line-height: 1.35;
    text-transform: capitalize;
  }
}

.secondary.nav {
  margin-top: 5px;
  i {
    margin-right: 5px;
  }
  & > li {
    &.separator {
      border-bottom: 1px solid $silver;
      margin: 10px;
      max-width: 100px;
    }
    & > a {
      padding: 5px 15px;
    }
  }
}

/*--- Site-Specific customization---*/

.site-sic {
  li.sic a{
    background-image: none;
    text-indent: 0;
    width: auto;
    color: $silver-light;
  }
  li.home {
    width: 140px;
    background-image: image-url('sic.png');
  }
  .jumbotron, .page-header {
    background-color: $blue-dark;
    .btn-primary {
      background-color: $green;
      &:hover {
        background-color: lighten($green,10%);
      }
    }
  }
}

.site-scielo {
  li.scielo {
    a {
      background-color: $silver !important;
      color: $asphalt;
    }
  }
  li.home {
    width: 112px;
    background-image: image-url('scielo.png');
  }
  .jumbotron, .page-header {
    background-color: $red;
    .btn-primary {
      background-color: $orange;
      &:hover {
        background-color: $yellow;
      }
    }
  }
}

.site-beic {
  li.beic {
    a {
      background-color: $silver !important;
      color: $asphalt;
    }
  }
  li.home {
    width: 120px;
    background-image: image-url('beic.png');
  }
  .jumbotron, .page-header {
    background-color: $green-dark;
    .btn-primary {
      background-color: $orange;
      &:hover {
        background-color: $yellow;
      }
    }
  }
}

.site-repo {
  li.repo {
    a {
      background-color: $silver !important;
      color: $asphalt;
    }
  }
  li.home {
    width: 160px;
    background-image: image-url('repo.png');
  }
  .jumbotron, .page-header {
    background-color: $carrot;
    .btn-primary {
      background-color: $yellow;
      &:hover {
        background-color: lighten($yellow, 10%);
      }
    }
  }
}

.site-productividad {
  li.productividad {
    a {
      background-color: $silver !important;
      color: $asphalt;
    }
  }
  .jumbotron, .page-header {
    background-color: $asphalt;
    .btn-primary {
      background-color: $red;
      &:hover {
        background-color: lighten($red, 20%);
      }
    }
  }
}

.site-investigador {
  li.investigador {
    a {
      background-color: $silver !important;
      color: $asphalt;
    }
  }
  .jumbotron, .page-header {
    background-color: $violet-dark;
    .btn-primary {
      background-color: $blue;
      &:hover {
        background-color: lighten($blue, 20%);
      }
    }
  }
}

.site-redciencia {
  li.redciencia {
    a {
      background-color: $silver !important;
      color: $asphalt;
    }
  }
  .jumbotron, .page-header {
    background-color: $turquoise;
    .btn-primary {
      background-color: $yellow;
      &:hover {
        background-color: lighten($yellow, 10%);
      }
    }
  }
}

/* --- End site-specific --- */

.site-search {
  padding: 10px 0;
}

/* Shows filesize in PDFs and other files */
.size {
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;
  color: $gray;
  margin-left: 3px;
}

#sidebar, .sidebar {
  position: static;
}

.toc {
  font-size: 90%;
  line-height: 2;
  ol {
    padding-left: 1.4em;
    ul {
      padding-left: 1.4em;
    }
  }
}

#top {
  position: absolute;
  width: 100%;
  z-index: 30000;
  background-color: $white;
  max-height: 60px;
}

#top.affix{
  position: fixed;
  top: 0;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  .home {
    display: block;
  }
}

/* -- Media Queries -- */

@media (min-width: 992px) {
  #sidebar.affix, .sidebar.affix {
    top: 80px;
    position: fixed;
  }
  #sidebar.affix-bottom, .sidebar.affix-bottom{
    position: absolute;
  }
  .sidebar.affix, .sidebar.affix-bottom{
    width: 150px;
  }
}

/* -- Normalizing legacy styles --*/

font, .MsoNormal {
  font-family: inherit !important;
  font-size: inherit !important;
  color: inherit !important;
}

p {
  text-align: inherit !important;
}