/* --- FONTS --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,700,400,400italic,700italic");
$main-font: 'Open Sans', 'Helvetica Neue', sans-serif;

/* --- COLORS --- */

$turquoise:       #1ABC9C;
$turquoise-dark:  #16A085;
$green:           #2ECC71;
$green-dark:      #27AE60;
$blue:            #3498DB;
$blue-dark:       #2980B9;
$violet:          #9B59B6;
$violet-dark:     #8E44AD;
$graphite:        #616272;
$asphalt:         #34495E;
$asphalt-dark:    #2C3E50;
$yellow:          #F1C40F;
$orange:          #F39C12;
$carrot:          #E67E22;
$dark-carrot:     #D35400;
$red:             #E74C3C;
$dark-red:        #C0392B;
$silver-light:    #ECF0F1;
$silver:          #BDC3C7;
$gray:            #95A5A6;
$dark-gray:       #7F8C8D;
$white:           #fff;

$semi-transparent-black: rgba(0,0,0,0.3);

/* --- MIXINS --- */

@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

/* --- STYLES --- */

body {
  font-family: $main-font;
}

a {
  @include transition(0.25s);
  color: $blue-dark;
}

hr {
  margin: 40px 0;
}

/* Watch this */
$footer-height: 200px;

footer {
  background-color: $graphite;
  color: $silver;
  padding: 30px 0;
  margin-top: 20px;
  position: fixed;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
  ul {
    font-size: 85%;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $main-font;
  font-weight: 700;
  line-height: 1.3;
}

/* This prevents anchored links from end up hidden behind the #submenu bar */

.anchor-container {
  position: relative;
  .anchor {
    position: absolute;
    top: -80px;
  }
}

/* All about articles and paper formatting */

.article {
  padding: 10px 0;
  line-height: 1.6;
  h1 {
    margin-top: 0;
    font-size: 32px;
  }
  .summary {
    font-weight: bold;
    font-size: 130%;
    border-bottom: 1px solid $gray;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .article-body {
    font-size: 120%;
  }
  .author {
    font-style: italic;
    strong {
      font-size: 110%;
      display: block;
    }
  }
  .about {
    padding: 0 20px 20px;
    background-color: $silver-light;
    border-top: 1px solid $gray;
    margin-top: 20px;
  }
  .abstract {
    background-color: $silver-light;
    padding: 1px 20px 10px;
    margin: 20px 0;
  }
  .meta {
    color: $dark-gray;
    margin: 10px 0;
    span {
      margin-right: 7px;
    }
  }
  .ref {
    font-size: 85%;
  }
}

.article-related {
  margin: 30px 0;
  h3 {
    margin: 0 0 20px;
  }
}

.center {
  text-align: center !important;
}

.clear {
  clear: both;
}

.collection {
  em {
    color: $dark-gray;
    &:before {
      content: "— "
    }
  }
}

.dropdown-menu {
  z-index: 10000;
}

.epigraph {
  text-transform: uppercase;
  color: $dark-gray;
  font-weight: bold;
}

/* -- Font Awesome icon colors -- */
.fa {
  &.orange {
    color: $carrot;
  }
  &.blue {
    color: $blue-dark;
  }
  &.green {
    color: $green-dark;
  }
  &.red {
    color: $red;
  }
  &.blue-light {
    color: lighten($blue, 10%);
  }
}

.figure {
  padding: 20px 0;
  text-align: center;
  font-size: 85%;
  font-style: italic;
  .caption {
    margin-top: 10px;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 1px 4px $semi-transparent-black;
    /* Use this class for no-shadow figures */
    &.no-shadow {
      box-shadow: none;
    }
  }
}

.jumbotron{
  color: $white;
  margin: 60px 0 20px;
  padding: 40px;
  p {
    font-weight: 400;
  }
  .btn-primary {
    border: none;
  }
  h1 {
    font-size: 44px;
  }
  a {
    color: $white;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    &:hover {
      text-decoration: none;
    }
  }
  .logo {
    padding-top: 10px;
  }
}

.logo-conicyt {
  float: left;
  margin-right: 10px;
  box-shadow: 0px 2px 4px $semi-transparent-black;
}

.nav {
  &>li.home {
    height: 40px;
    background-size: cover;
    position: relative;
    left: -15px;
    top: -3px;
    &>a:hover {
      background-color: transparent;
    }
  }
  i {
    margin-right: 5px;
  }
}

.navbar {
  font-size: 120%;
  margin-bottom: 0;
  border: none;
  background-color: $graphite;
  color: lighten($graphite, 25%);
  font-size: 32px;
  border-radius: 0 !important;
  min-height: 30px;
  .container {
    padding-left: 0;
  }
  &.common-header {
    position: relative;
    z-index: 500;
  }
}

.navbar-nav {
  &>li>a {
    background-size: cover;
    background-repeat: no-repeat;
    color: lighten($graphite, 30%);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 12px;
    &:hover {
      background-color: darken($graphite, 15%) !important ;
    }
  }
  li.sic {
    a {
      width: 82px;
      text-indent: -3000px;
      background-image: image-url('sic.png');
      margin-right: 10px;
    }
  }
  img {
    max-height: 36px;
  }
}

.nav-pills {
  padding: 10px 0;
  li {
    &.menulabel {
      padding: 10px 10px 10px 0;
      font-weight: bold;
    }
    a {
      padding: 5px 10px !important;
      margin-top: 5px;
    }
  }
  &.midnav {
    font-size: 120%;
    font-weight: bold;
    border-bottom: 1px solid $silver;
    padding-bottom: 25px;
    margin-bottom: 15px;
  }
  &.lang {
    float: right;
    font-size: 90%;
  }
}

.number {
  text-align: center;
  line-height: 1.2;
  padding: 20px 0;
  strong {
    display: block;
    font-size: 180%;
  }
}

.oursites {
  background-color: $silver-light;
}

.page-header {
  color: $white;
  margin-top: 60px;
  .search_big {
    padding-bottom: 10px;
    overflow: hidden;
    input {
      float: left;
    }
    a {
      color: $white;
      &.advanced {
        font-weight: 600;
        position: relative;
        top: 10px;
        left: 20px;
      }
    }
  }
}

.post {
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid $silver;
  /* Special formatting for posts appearing in homepages */
  &.teaser {
    .epigraph {
      font-size: 80%;
    }
    .meta {
      font-size: 80%;
      color: $graphite;
    }
    .image img {
      max-width: 90px;
      max-height: 130px;
      float: left;
      margin-right: 15px;
      margin-top: 10px;
    }
  }
}

.result {
  padding: 10px 0;
  border-bottom: 1px solid $silver;
  &:last-child {
    border-bottom: none;
  }
  h4 {
    font-size: 110%;
    line-height: 1.35;
    margin-bottom: 0;
    i {
      margin-right: 5px;
      &.fa-star-o {
        color: $gray;
      }
    }
  }
  .excerpt {
    font-size: 90%;
    color: $graphite;
    padding-left: 20px;
    border-left: 5px solid $silver-light;
  }
  .magazine {
    color: $green-dark;
  }
  .options {
    font-size: 85%;
  }
}

.row.metrics {
  background-color: $semi-transparent-black;
  margin: 30px 0 0;
  .rightpanel {
    padding: 20px 0 10px;
    font-size: 14px;
    line-height: 1.3;
    p {
      margin-bottom: 15px;
    }
  }
}

.search-header {
  .nav.nav-pills {
    float: right;
  }
}

.secondary.nav {
  margin-top: 5px;
  i {
    margin-right: 5px;
  }
  & > li {
    &.separator {
      border-bottom: 1px solid $silver;
      margin: 10px;
      max-width: 100px;
    }
    & > a {
      padding: 5px 15px;
    }
  }
}

/*--- Site-Specific customization---*/

.site-sic {
  li.sic a{
    background-image: none;
    text-indent: 0;
    width: auto;
    color: $silver-light;
  }
  li.home {
    width: 102px;
    background-image: image-url('sic-single.png');
  }
  .jumbotron, .page-header {
    background-color: $blue-dark;
    .btn-primary {
      background-color: $green;
      &:hover {
        background-color: lighten($green,10%);
      }
    }
  }
}

.site-scielo {
  li.scielo {
    a {
      background-color: $silver !important;
      color: $asphalt;
    }
  }
  li.home {
    width: 112px;
    background-image: image-url('scielo.png');
  }
  .jumbotron, .page-header {
    background-color: $red;
    .btn-primary {
      background-color: $red;
      &:hover {
        background-color: lighten($red, 5%);
      }
    }
  }
  .site-search {
    input {
      border-color: $red;
    }
    i {
      color: $red;
    }
  }
}

.site-beic {
  li.beic {
    a {
      background-color: $silver !important;
      color: $asphalt;
    }
  }
  li.home {
    width: 120px;
    background-image: image-url('beic.png');
  }
  .jumbotron, .page-header {
    background-color: $green-dark;
    .btn-primary {
      background-color: $orange;
      &:hover {
        background-color: $yellow;
      }
    }
  }
}

.site-repo {
  li.repo {
    a {
      background-color: $silver !important;
      color: $asphalt;
    }
  }
  li.home {
    width: 160px;
    background-image: image-url('repo.png');
  }
  .jumbotron, .page-header {
    background-color: $carrot;
    .btn-primary {
      background-color: $yellow;
      &:hover {
        background-color: lighten($yellow, 10%);
      }
    }
  }
}

.site-productividad {
  li.productividad {
    a {
      background-color: $silver !important;
      color: $asphalt;
    }
  }
  .jumbotron, .page-header {
    background-color: $asphalt;
    .btn-primary {
      background-color: $red;
      &:hover {
        background-color: lighten($red, 20%);
      }
    }
  }
}

.site-investigador {
  li.investigador {
    a {
      background-color: $silver !important;
      color: $asphalt;
    }
  }
  .jumbotron, .page-header {
    background-color: $violet-dark;
    .btn-primary {
      background-color: $blue;
      &:hover {
        background-color: lighten($blue, 20%);
      }
    }
  }
}

.site-redciencia {
  li.redciencia {
    a {
      background-color: $silver !important;
      color: $asphalt;
    }
  }
  .jumbotron, .page-header {
    background-color: $turquoise;
    .btn-primary {
      background-color: $yellow;
      &:hover {
        background-color: lighten($yellow, 10%);
      }
    }
  }
}

/* --- End site-specific --- */

.sitenav.nav {
  i {
    margin-right: 0;
  }
}

.site-search {
  padding: 10px 0;
  position: relative;
  input {
    border: 2px solid $gray;
    position: relative;
    top: 2px;
    padding-left: 30px;
    z-index: 101;
  }
  i {
    position: absolute;
    z-index: 200;
    font-size: 18px;
    color: $gray;
    top: 20px;
    left: 9px;
  }
}

/* Shows filesize in PDFs, number of results, etc */
.indicator {
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;
  color: $gray;
  margin-left: 3px;
}

#search_advanced {
  position: absolute;
  background-color: $white;
  padding: 0px 10px 12px;
  top: 60px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  font-size: 11px;
  z-index: 100;
  line-height: 0.7;
  img.right {
    right: 3px;
    top: -6px;
    position: absolute;
  }
}

.search_big {
  padding: 20px 0 0;
  position: relative;
  line-height: 1.2em;
  .fa-search {
    position: absolute;
    z-index:100;
    color: $gray;
    font-size: 130%;
    top: 30px;
    left: 12px;
  }
  input.form-control {
    padding: 10px 20px 10px 48px;
    border:none;
    font-size: 1em;
    height: auto;
    max-width: 600px;
  }
  .example {
    font-size: 60%;
    font-weight: 400;
  }
}

#sidebar, .sidebar {
  position: static;
}

.toc {
  font-size: 90%;
  line-height: 2;
  ol {
    padding-left: 1.4em;
    ul {
      padding-left: 1.4em;
    }
  }
}

#top {
  position: absolute;
  width: 100%;
  z-index: 400;
  background-color: $white;
  max-height: 60px;
}

#top.affix{
  position: fixed;
  top: 0;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  .home {
    display: block;
  }
  #search_advanced {
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
  }
}

#wrap {
  margin-bottom: $footer-height;
  padding-bottom: 20px;
  box-shadow: 0px 2px 15px $semi-transparent-black;
  background-color: $white;
}

/* -- Media Queries -- */

$breakpoint1: 992px;

@media (min-width: $breakpoint1) {
  #sidebar.affix, .sidebar.affix {
    top: 80px;
    position: fixed;
    width: 262px;
  }
  #sidebar.affix-bottom, .sidebar.affix-bottom{
    position: absolute;
  }
  .sidebar.affix, .sidebar.affix-bottom{
    width: 150px;
  }
  .common-header {
    .dropdown {
      display: none;
    }
  }
}

@media (max-width: $breakpoint1) {
  .common-header {
    .dropdown {
      display: block;
    }
    .dropdown-menu {
      background-color: $white !important;
    }
    .collapse {
      display: none;
    }
  }
  .site-sic {
    .sic {
      display: none;
    }
  }
}

/* -- Normalizing legacy styles --*/

font, .MsoNormal, .article span[style] {
  font-family: inherit !important;
  font-size: inherit !important;
  color: inherit !important;
}

p {
  text-align: inherit !important;
}