.navbar
  .container
    .navbar-collapse
      %ul.nav.navbar-nav
        %li.sic
          %a{href: "#sic"} Red SIC:
        %li.scielo
          %a{href: "#scielo"} SciELO
        %li.beic
          %a{href: "#beic"} Beic
        %li.repo
          %a{href: "#repo"} Repo. Institucional
        %li.productividad
          %a{href: "#productividad"} Productividad Científica
        %li.investigador
          %a{href: "#portal"} Portal del Investigador
        %li.redciencia
          %a{href: "#redciencia"} Red Ciencia
    / /.nav-collapse
#top{"data-spy"=>"affix", "data-offset-top"=>"34"}
  .container
    .row
      .col-xs-7
        %ul.nav.nav-pills.sitenav
          %li.home
            %a
          %li.active
            %a{href: "#"}
              %i.fa.fa-home
          %li
            %a{href: "#about"} Personas
          %li
            %a{href: "#contact"} Métricas
          %li
            %a{href: "#contact"} Biblioteca
      .col-xs-2
        %ul.nav.nav-pills.lang
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Español
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: "#"} English
              %li
                %a{href: "#"} Português
      .col-xs-3
        .site-search
          %i.fa.fa-search
          %input.form-control{type: "text", placeholder: "Buscar revistas, artículos..."}