- content_for :site do
  site-scielo

.page-header
  .container
    %h2
      Research Article

.container
  %ol.breadcrumb
    %li
      %a{href: "#"} Inicio
    %li
      %a{href: "#"} Biotecnología
  .row
    .col-md-3
      #sidebar{"data-spy"=>"affix", "data-offset-top"=>"200", "data-offset-bottom"=>"360", :role => "complementary"}
        %ul.nav.secondary
          %li
            %a{href: "#"}
              %i.fa.fa-flag.orange
              English version
            %a{href: "#"}
              %i.fa.fa-download.red
              PDF (Español)
              %span.size 54 Kb
          %li.separator
          %li
            %a{href: "#references"}
              %i.fa.fa-arrow-right.blue
              Referencias (18)
          %li
            %a{href: "#"}
              %i.fa.fa-sign-in.orange
              Artículos que citan aquí (9)
          %li
            %a{href: "#"}
              %i.fa.fa-quote-left.green
              Cómo citar este artículo
          %li.separator
          %li
            %a{href: "#"}
              %i.fa.fa-link.orange
              Permalink
          %li
            %a{href: "#"}
              %i.fa.fa-envelope.blue
              Enviar por e-mail
          %li
            %a{href: "#"}
              %i.fa.fa-twitter.blue-light
              Compartir en Twitter
          %li
            %a{href: "#"}
              %i.fa.fa-linkedin-square.blue-light
              Compartir en Linkedin
          %li.separator
          %li
            %a{href: "#", title: "Ver métricas de este artículo"}
              %i.fa.fa-bar-chart-o
              3580 visitas
    .col-md-9
      .article
        %h1 Optimization of phenoxazinone synthase production by response surface methodology and its application in Congo red decolourization
        %p.author
          %strong Honghua Jia*<sup>1</sup> · Zhen Gao<sup>1</sup> · Yingying Ma<sup>1</sup> · Chao Zhong<sup>1</sup> · Yingchun Xie<sup>1</sup> · Hua Zhou<sup>1</sup> · Ping Wei<sup>1</sup>
          <sup>1</sup>Nanjing University of Technology, College of Biotechnology and Pharmaceutical Engineering, Nanjing, P.R. China
        %p.meta
          %span
            %i.fa.fa-unlock
            Acceso abierto
          %span
            %i.fa.fa-pencil
            Revisado por pares
        %p.summary Enzymatic decolourization has been recently proposed as a promising and eco-friendly method for treatment of synthetic dye-contaminated wastewaters.
        %p.keywords
          %strong Keywords:
          %a phenoxazinone,
          %a decolourization,
          %a enzymes,
          %a wastewater
        .jump-list
          %ul.nav.nav-pills
            %li.menulabel Saltar a:
            %li
              %a{href:"#abstract"}
                %i.fa.fa-list
                Abstract
            %li
              %a{href:"#article"}
                %i.fa.fa-file-o
                Artículo
            %li
              %a{href:"#references"}
                %i.fa.fa-sign-in
                Referencias
            %li
              %a{href:"#article"}
                %i.fa.fa-book
                Acerca de la revista
        .article-body
          .abstract
            %h3 Abstract
            %p
              %strong Background:
              Enzymatic decolourization has been recently proposed as a promising and eco-friendly method for treatment of synthetic dye-contaminated wastewaters. However, the processes require large quantities of enzymes, attracting significant attention in developing efficient methods for mass production of multifunctional enzymes. Several methods such as response surface methodology (RSM) and orthogonal experiment have been applied to optimize the parameters in bioprocesses for enzyme production.
            %p
              %strong Methods:
              Enzymatic decolourization has been recently proposed as a promising and eco-friendly method for treatment of synthetic dye-contaminated wastewaters. However, the processes require large quantities of enzymes, attracting significant attention in developing efficient methods for mass production of multifunctional enzymes. Several methods such as response surface methodology (RSM) and orthogonal experiment have been applied to optimize the parameters in bioprocesses for enzyme production.
          %p Construido como apéndice de un pequeño bar costero, a metros de la célebre casa de Eileen Gray en Cap Martin, el Cabanon es tan edificio como mueble, y condensa toda la complejidad que las escalas de la madera plantean.

          .figure{id:"fig-1"}
            = image_tag image_path "example-figure.png"
            .caption
              Fig. 1 - Mapa del mundo.

          %p ¿Cómo abordar la madera desde una perspectiva contemporánea? Dejando de lado los atributos que la hacen tan atractiva para los promotores de la hoy ineludible sostenibilidad (bajo un manejo adecuado, la madera es un recurso renovable, biodegradable y reciclable) la hipótesis que esta edición plantea es que, quizá, y justamente gracias a esta versatilidad escalar, la madera ofrecería la rara oportunidad de resolver el proyecto de arquitectura con igual contundencia tanto en los frentes que plantea la construcción y la ingeniería como en los asuntos de la cualidad atmosférica y sensorial del espacio.

          / Example formatting, just to test styles normalization

          %h3
            %font{face: "Verdana", size: "325", color: "#cc0000"}Concluding Remarks

          %p{align: "right", style:"text-align: right"} Este número de ARQ se detiene particularmente en proyectos y artículos que dan cuenta, simultáneamente, de esa doble escala de la madera. Por una parte, se trata de una materia capaz de desplegar una notable potencia estructural, en algunos casos llegando al punto de las grandes luces y de la edificación en mediana altura. En el otro extremo, la madera aparece como fértil terreno para el desarrollo del detalle, gracias a su condición táctil -en cuanto materia sensual, liviana y cercana en su medida a la mano- y sus propiedades plásticas: cálida, colorida, aromática, moldeable, precisa. Lo interesante es que esta combinación escalar puede existir desde la economía de medios materiales y usando tecnologías de bajo impacto, como en el notable ejemplo de la casa Cúpula de Buckminster Fuller, presentada lúcidamente en el ensayo que abre este número.

          %p Dos proyectos de título ejemplifican caminos de desarrollo que, desde el prototipo constructivo o el proyecto edilicio, exploran las posibilidades expresivas y estructurales de la madera y que, al igual que la bóveda de lamelas o el conjunto de viviendas en Constitución, plantean un uso del material capaz de abordar magnitudes de orden mayor.

          #references
            %h3 References

            %p.ref{id: "ref-1"}
              %a{href: "#"} [1]
              BALDRIAN, P. (2006). Fungal laccases - occurrence and properties.
              %em FEMS Microbiology Reviews, vol. 30, no. 2, p. 215-242.
              %a{href: "#"} CrossRef
              = "-"
              %a{href: "#"} Links

            %p.ref{id: "ref-2"}
              %a{href: "#"} [2]
              BALDRIAN, P. (2006). Fungal laccases - occurrence and properties.
              %em FEMS Microbiology Reviews, vol. 30, no. 2, p. 215-242.
              %a{href: "#"} CrossRef
              = "-"
              %a{href: "#"} Links

        .about
          %h3 Acerca de la revista
          %p
            Electronic Journal of Biotechnology ISSN: 0717-3458
            %br
            Vol. 16 No. 5, Issue of September 15, 2013
            %br
            © 2013 by Pontificia Universidad Católica de Valparaíso -- Chile
            %br
            Received March 16, 2013 / Accepted June 24, 2013
            %br
            DOI: 10.2225/vol16-issue5-fulltext-11


  .article-related
    %h3 Artículos relacionados
    .row
      .col-md-4
        %p.epigraph Research Article
        %h4
          %a{href: "#"}Optimization of phenoxazinone synthase production by response surface methodology
        %p
          %em Electronic Journal of Biotechnology
      .col-md-4
        %p.epigraph Research Article
        %h4
          %a{href: "#"}Response surface methodology and its application in Congo red decolourization
        %p
          %em Electronic Journal of Biotechnology
      .col-md-4
        %p.epigraph Research Article
        %h4
          %a{href: "#"}Methodology and its application in Congo red decolourization
        %p
          %em Electronic Journal of Biotechnology