.jumbotron
  .container
    %h1
      Información científica a tu alcance.
    %p El Sistema de Información Científica (SIC) es un sitio web que integra los distintos servicios y contenidos del Programa de Información Científica de CONICYT.
    %p
      %a.btn.btn-primary.btn-lg{:role => "button"} Entérate de más
.container
  %ul.nav.nav-pills
    %li
      %a{href: "#about"}= image_tag "beic.png"
    %li
      %a{href: "#about"}= image_tag "beic.png"
    %li
      %a{href: "#about"}= image_tag "beic.png"
.container
  .row
    .col-md-4
      %h3 Nuestros Sitios
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      %p
        %a.btn.btn-default{:href => "#", :role =>"button"} View details »
    .col-md-4
      %h3 Noticias
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      %p
        %a.btn.btn-default{:href => "#", :role =>"button"} View details »
    .col-md-4
      %h3 Información importante
      %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      %p
        %a.btn.btn-default{href: "#", role: "button"} View details »