- content_for :site do
  site-scielo

.page-header.magazine
  .container
    .cover= image_tag "http://www.scielo.cl/img/revistas/revbiolmar/glogo.gif"
    %h2
      Revista de Biología Marina y Oceanografía
    %p
      Universidad de Valparaíso. Facultad de Ciencias del Mar y de Recursos Naturales
      %br
      versión On-line ISSN 0718-1957

.container
  %ol.breadcrumb
    %li
      %a{href: "#"} Inicio
    %li
      %a{href: "#"} Ciencias Exactas y de la Tierra
    %li.active Revista de Biología Marina y Oceanografía
  .row
    .col-md-3
      #sidebar{"data-spy"=>"affix", "data-offset-top"=>"215", :role => "complementary"}
        %ul.nav.secondary
          %li
            %a{href: "#"}
              %i.fa.fa-group.red
              Sobre nosotros
          %li
            %a{href: "#"}
              %i.fa.fa-book.orange
              Cuerpo editorial
          %li
            %a{href: "#"}
              %i.fa.fa-info-circle.blue
              Instrucciones a los autores
          %li
            %a{href: "#"}
              %i.fa.fa-inbox.green
              Subscripción
          %li
            %a{href: "#"}
              %i.fa.fa-bar-chart-o
              Estadísticas
    .col-md-9
      %p.epigraph Misión
      %p.featured-text Publicar resultados de investigaciones científicas originales e inéditas, nacionales y extranjeras, en las áreas de Biología Marina y Oceanografía.
      %h2 Número actual
      .panel.panel-default
        .panel-heading
          %h5
            %i.fa.fa-book.orange
            Vol. 48, Nº 2 — Agosto 2013
        .panel-body
          .post.teaser
            %p.epigraph Editorial
            %h4
              %a{href:"#"} Nuevos tiempos para la Revista de Biología Marina y Oceanografía
            %p
              %em Bravo, Ricardo
            %p.meta
              %a{href:"#"}
                Español
              |
              %a{href:"#"}
                English
              |
              %a{href:"#"}
                PDF
          .post.teaser
            %p.epigraph Artículo
            %h4
              %a{href:"#"} Almejas en golfos norpatagónicos, Argentina: Disponibilidad trófica para aves playeras migratorias
            %p
              %em Musmeci, Luciana; Hernández, María; Scolaro, José; Bala, Luis
            %p.meta
              %a{href:"#"}
                Español
              |
              %a{href:"#"}
                English
              |
              %a{href:"#"}
                PDF
          .post.teaser
            %p.epigraph Artículo
            %h4
              %a{href:"#"} Defensas antioxidantes y peroxidación de lípidos en dos especies de Lithodes del Atlántico Sur durante el verano
            %p
              %em Romero, M. Carolina; Schvezov, Natasha; Sotelano, M. Paula; Diez, Mariano J; Florentin, Olga; Tapella, Federico; Lovrich, Gustavo A
            %p.meta
              %a{href:"#"}
                Español
              |
              %a{href:"#"}
                English
              |
              %a{href:"#"}
                PDF
          %p
            %a.btn.btn-success{href: "#", role: "button"} Ver todo el número

      %h3 Números anteriores
      .panel.panel-default
        .panel-body
          .row
            .col-sm-4
              %p
                %strong 2013
              %ul
                %li
                  %a{href: "#"} Vol. 48
                  %em 3 números
                %li
                  %a{href: "#"} Vol. 47
                  %em 5 números
                %li
                  %a{href: "#"} Vol. 46
                  %em 2 números
            .col-sm-4
              %p
                %strong 2012
              %ul
                %li
                  %a{href: "#"} Vol. 45
                  %em 3 números
                %li
                  %a{href: "#"} Vol. 44
                  %em 5 números
                %li
                  %a{href: "#"} Vol. 43
                  %em 2 números
            .col-sm-4
              %p
                %strong 2011
              %ul
                %li
                  %a{href: "#"} Vol. 42
                  %em 3 números
                %li
                  %a{href: "#"} Vol. 41
                  %em 5 números
                %li
                  %a{href: "#"} Vol. 40
                  %em 2 números